body{font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: rgb(34, 35, 36);
        font-size: 21px;
        }


header{color: white;
        background-color: rgb(101, 157, 231);
        text-align: center;
        padding: 10px;}

h1{margin: 0;
    font-weight: bold;}

#secaoImg{height: 900px;    
            background-image: url(./images/people.jpg);
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;}


#secaoForm{height: 800px;
            width: 425px;
            background-color: rgba(255, 255, 255, 0.719);
            float: right;
            margin: 50px;
            overflow: hidden;}

h2{font-size: 1.4em;}

.margins{margin: 20px;}

#paragrafoForm{font-size: 1.3em;}

.marginsForm{margin-top: 15px; 
                display: block;
                width: 375px;
                height: 50px;
                box-sizing: border-box;
                border: none;
                font-size: 22px;
                padding: 10px;}

select {appearance: none;
        background-image: url(./images/arrow.jpg);
        background-repeat: no-repeat;
        background-position: right center;
        padding-left: 10px; /* Espaço para o ícone */}
                  

#enviarDados{background-color: rgb(101, 157, 231);
                color: white;}

#enviarDados:hover{background-color: blue;
                    cursor: pointer;}

#palestranteInfos{text-align: center;
                    margin-bottom: 100px;}

#descricao{color: white;
        display: inline-block;
        margin-left: 100px;
        text-align: left;
        font-size: 1.2em;}

img{margin-top: 100px;
    height: 350px;}